.page {
  padding-top: 40px;
  min-width: 320px;
  max-width: 1245px;
  margin: 0 auto;
  background-color: #fff;
  color:#666666;
  font-family: 'Poppins', Helvetica, sans-serif;
}

@media screen and (max-width: 1279px) {
  .page {
    padding-left: 30px;
    padding-right: 30px;
  }
}