.projects__itemlist {
  padding: 50px 0 0 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 375px);
  justify-content: space-between;
  gap: 65px 50px;
}

@media screen and (max-width: 1279px) {
  .projects__itemlist {
    grid-template: repeat(3, 1fr) / repeat(2, 375px);
  }
}

@media screen and (max-width: 768px) {
  .projects__itemlist {
    grid-template-columns: repeat(auto-fill, 375px);
  }
}